/* station,price */
.search-info{
  width: 70%;
  margin: 0 auto;
  padding: 30px 0;
}
.search-info__title{
  height: 50px;
  line-height: 50px;
  color: #ffffff;
  background: #412d1c;
}
.search-info__content{
  padding-top: 10px;
}
.search-info__content ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-size: 20px;
  font-weight: bold;
}
.search-info__content li{
  width: 25%;
}

/* search-result */
.search-results{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 auto;
}
.search-result{
  width: 25%;
  min-height: 200px;
}
.search-result__image{

}
.search-result__discribe{

}
